<!DOCTYPE html>
<html>

<head></head>

<body>

	<div class="flex flexCol" style="height: auto; width: 100%; gap: 35px;">
		<h1 style="font-weight: 600;">FAQs</h1>

		<div class="flex flexCol" style="width: 100%; gap: 20px;">

			<div class="flex flexCol card" style="color: var(--blackGrey); background: var(--white); border-radius: 15px; height: auto; width: calc(100% - 50px); padding: 25px; gap: 15px;">
				<h2 style="font-size: 20px; font-weight: 600;">
					Who are we and what do we do?
				</h2>

				<p style="line-height: 1.7; text-align: justify; text-align-last: left;">
					We are a service affiliated with <a href="https://www.nsbm.ac.lk" target="_blank">NSBM Green University</a>, dedicated to helping students find comfortable, convenient, and safe off-campus housing options.
				</p>
			</div>

			<div class="flex flexCol card" style="color: var(--blackGrey); background: var(--white); border-radius: 15px; height: auto; width: calc(100% - 50px); padding: 25px; gap: 15px;">
				<h2 style="font-size: 20px; font-weight: 600;">
					Why should I use this website instead of finding housing myself?
				</h2>

				<p style="line-height: 1.7; text-align: justify; text-align-last: left;">
					We partner with reputable landlords to ensure a high-quality selection of listings.
				</p>
			</div>

			<div class="flex flexCol card" style="color: var(--blackGrey); background: var(--white); border-radius: 15px; height: auto; width: calc(100% - 50px); padding: 25px; gap: 15px;">
				<h2 style="font-size: 20px; font-weight: 600;">
					Is this service affiliated with the university?
				</h2>

				<p style="line-height: 1.7; text-align: justify; text-align-last: left;">
					Yes, this website is a collaborative effort between <a href="https://www.nsbm.ac.lk" target="_blank">NSBM Green University</a> and dedicated housing professionals.
				</p>
			</div>

			<div class="flex flexCol card" style="color: var(--blackGrey); background: var(--white); border-radius: 15px; height: auto; width: calc(100% - 50px); padding: 25px; gap: 15px;">
				<h2 style="font-size: 20px; font-weight: 600;">
					How can I contact a landlord about a listing?
				</h2>

				<p style="line-height: 1.7; text-align: justify; text-align-last: left;">
					Each listing provides a section to make a request to the landlord. You can also contact us for assistance.
				</p>
			</div>

			<div class="flex flexCol card" style="color: var(--blackGrey); background: var(--white); border-radius: 15px; height: auto; width: calc(100% - 50px); padding: 25px; gap: 15px;">
				<h2 style="font-size: 20px; font-weight: 600;">
					Are there any fees associated with using this service?
				</h2>

				<p style="line-height: 1.7; text-align: justify; text-align-last: left;">
					No, this service is completely free to use.
				</p>
			</div>
		</div>
	</div>

</body>

</html>