<!DOCTYPE html>
<html>

<head></head>

<body>

	<div class="flex flexCol" style="height: auto; width: 100%; gap: 35px;">
		<span class="flex flexRow" style="width: 100%; align-items: center; justify-content: space-between;">
			<h1 style="font-weight: 600;">What's Available</h1>
			<a class="anchorBtn" href="/greenperch/available.php">See More</a>
		</span>

		<div class="flex flexRow" style="width: 100%; justify-content: space-between;">
			<!-- Card 1 Start -->
			<a class="flex card" href="/greenperch/" style="height: 600px; width: 30%; text-decoration: none; color: #ECECEC; background: linear-gradient(#24242490, #24242490), url('/greenperch/assets/images/4PersonRoom.jpg'); background-size: cover; background-position: center; border-radius: 15px; align-items: center; justify-content: center;">
				<div class="flex flexCol" style="width: calc(100% - 60px); height: calc(100% - 60px); justify-content: space-between;">
					<span class="flex flexRow" style="width: 100%; align-items: center; justify-content: space-between;">
						<h1 style="font-size: 24px; font-weight: 400;">LKR 8,000 Per/m</h1>

						<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-arrow-up-right-filled" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="none" fill="none" stroke-linecap="round" stroke-linejoin="round">
							<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
							<path d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-2 4.66h-6l-.117 .007a1 1 0 0 0 -.883 .993l.007 .117a1 1 0 0 0 .993 .883h3.584l-4.291 4.293l-.083 .094a1 1 0 0 0 1.497 1.32l4.293 -4.293v3.586l.007 .117a1 1 0 0 0 1.993 -.117v-6l-.007 -.117l-.029 -.149l-.035 -.105l-.054 -.113l-.071 -.111a1.01 1.01 0 0 0 -.097 -.112l-.09 -.08l-.096 -.067l-.098 -.052l-.11 -.044l-.112 -.03l-.126 -.017l-.075 -.003z" stroke-width="0" fill="#ECECEC" />
						</svg>
					</span>

					<span class="flex flexCol" style="width: 100%; gap: 30px;">
						<h1 style="width: 100%; font-size: 34px; font-weight: 500;">4 Person Room</h1>

						<span class="flex flexRow" style="width: 100%; justify-content: space-between;">
							<h1 style="width: 100%; font-size: 24px; font-weight: 400;">Available For</h1>

							<span class="flex flexRow" style="gap: 10px;">
								<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-man" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ECECEC" fill="none" stroke-linecap="round" stroke-linejoin="round">
									<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
									<path d="M10 16v5" />
									<path d="M14 16v5" />
									<path d="M9 9h6l-1 7h-4z" />
									<path d="M5 11c1.333 -1.333 2.667 -2 4 -2" />
									<path d="M19 11c-1.333 -1.333 -2.667 -2 -4 -2" />
									<path d="M12 4m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
								</svg>

								<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-woman" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ECECEC" fill="none" stroke-linecap="round" stroke-linejoin="round">
									<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
									<path d="M10 16v5" />
									<path d="M14 16v5" />
									<path d="M8 16h8l-2 -7h-4z" />
									<path d="M5 11c1.667 -1.333 3.333 -2 5 -2" />
									<path d="M19 11c-1.667 -1.333 -3.333 -2 -5 -2" />
									<path d="M12 4m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
								</svg>
							</span>
						</span>

					</span>
				</div>
			</a>
			<!-- Card 1 End -->

			<!-- Card 2 Start -->
			<a class="flex card" href="/greenperch/" style="height: 600px; width: 30%; text-decoration: none; color: #ECECEC; background: linear-gradient(#24242490, #24242490), url('/greenperch/assets/images/2PersonRoom.jpg'); background-size: cover; background-position: center; border-radius: 15px; align-items: center; justify-content: center;">
				<div class="flex flexCol" style="width: calc(100% - 60px); height: calc(100% - 60px); justify-content: space-between;">
					<span class="flex flexRow" style="width: 100%; align-items: center; justify-content: space-between;">
						<h1 style="font-size: 24px; font-weight: 400;">LKR 10,000 Per/m</h1>

						<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-arrow-up-right-filled" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="none" fill="none" stroke-linecap="round" stroke-linejoin="round">
							<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
							<path d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-2 4.66h-6l-.117 .007a1 1 0 0 0 -.883 .993l.007 .117a1 1 0 0 0 .993 .883h3.584l-4.291 4.293l-.083 .094a1 1 0 0 0 1.497 1.32l4.293 -4.293v3.586l.007 .117a1 1 0 0 0 1.993 -.117v-6l-.007 -.117l-.029 -.149l-.035 -.105l-.054 -.113l-.071 -.111a1.01 1.01 0 0 0 -.097 -.112l-.09 -.08l-.096 -.067l-.098 -.052l-.11 -.044l-.112 -.03l-.126 -.017l-.075 -.003z" stroke-width="0" fill="#ECECEC" />
						</svg>
					</span>

					<span class="flex flexCol" style="width: 100%; gap: 30px;">
						<h1 style="width: 100%; font-size: 34px; font-weight: 500;">2 Person Room</h1>

						<span class="flex flexRow" style="width: 100%; justify-content: space-between;">
							<h1 style="width: 100%; font-size: 24px; font-weight: 400;">Available For</h1>

							<span class="flex flexRow" style="gap: 10px;">
								<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-man" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ECECEC" fill="none" stroke-linecap="round" stroke-linejoin="round">
									<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
									<path d="M10 16v5" />
									<path d="M14 16v5" />
									<path d="M9 9h6l-1 7h-4z" />
									<path d="M5 11c1.333 -1.333 2.667 -2 4 -2" />
									<path d="M19 11c-1.333 -1.333 -2.667 -2 -4 -2" />
									<path d="M12 4m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
								</svg>

								<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-woman" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ECECEC" fill="none" stroke-linecap="round" stroke-linejoin="round">
									<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
									<path d="M10 16v5" />
									<path d="M14 16v5" />
									<path d="M8 16h8l-2 -7h-4z" />
									<path d="M5 11c1.667 -1.333 3.333 -2 5 -2" />
									<path d="M19 11c-1.667 -1.333 -3.333 -2 -5 -2" />
									<path d="M12 4m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
								</svg>
							</span>
						</span>

					</span>
				</div>
			</a>
			<!-- Card 2 End -->

			<!-- Card 3 Start -->
			<a class="flex card" href="/greenperch/" style="height: 600px; width: 30%; text-decoration: none; color: #ECECEC; background: linear-gradient(#24242490, #24242490), url('/greenperch/assets/images/6PersonRoom.jpg'); background-size: cover; background-position: center; border-radius: 15px; align-items: center; justify-content: center;">
				<div class="flex flexCol" style="width: calc(100% - 60px); height: calc(100% - 60px); justify-content: space-between;">
					<span class="flex flexRow" style="width: 100%; align-items: center; justify-content: space-between;">
						<h1 style="font-size: 24px; font-weight: 400;">LKR 25,000 Per/m</h1>

						<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-arrow-up-right-filled" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="none" fill="none" stroke-linecap="round" stroke-linejoin="round">
							<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
							<path d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-2 4.66h-6l-.117 .007a1 1 0 0 0 -.883 .993l.007 .117a1 1 0 0 0 .993 .883h3.584l-4.291 4.293l-.083 .094a1 1 0 0 0 1.497 1.32l4.293 -4.293v3.586l.007 .117a1 1 0 0 0 1.993 -.117v-6l-.007 -.117l-.029 -.149l-.035 -.105l-.054 -.113l-.071 -.111a1.01 1.01 0 0 0 -.097 -.112l-.09 -.08l-.096 -.067l-.098 -.052l-.11 -.044l-.112 -.03l-.126 -.017l-.075 -.003z" stroke-width="0" fill="#ECECEC" />
						</svg>
					</span>

					<span class="flex flexCol" style="width: 100%; gap: 30px;">
						<h1 style="width: 100%; font-size: 34px; font-weight: 500;">6 Person Room</h1>

						<span class="flex flexRow" style="width: 100%; justify-content: space-between;">
							<h1 style="width: 100%; font-size: 24px; font-weight: 400;">Available For</h1>

							<span class="flex flexRow" style="gap: 10px;">
								<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-man" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ECECEC" fill="none" stroke-linecap="round" stroke-linejoin="round">
									<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
									<path d="M10 16v5" />
									<path d="M14 16v5" />
									<path d="M9 9h6l-1 7h-4z" />
									<path d="M5 11c1.333 -1.333 2.667 -2 4 -2" />
									<path d="M19 11c-1.333 -1.333 -2.667 -2 -4 -2" />
									<path d="M12 4m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
								</svg>

								<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-woman" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ECECEC" fill="none" stroke-linecap="round" stroke-linejoin="round">
									<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
									<path d="M10 16v5" />
									<path d="M14 16v5" />
									<path d="M8 16h8l-2 -7h-4z" />
									<path d="M5 11c1.667 -1.333 3.333 -2 5 -2" />
									<path d="M19 11c-1.667 -1.333 -3.333 -2 -5 -2" />
									<path d="M12 4m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
								</svg>
							</span>
						</span>

					</span>
				</div>
			</a>
			<!-- Card 3 End -->

		</div>
	</div>

</body>

</html>