<!DOCTYPE html>
<html>

<head></head>

<body>

	<div class="flex flexCol" style="height: auto; width: 100%; gap: 35px;">
		<h1 style="font-weight: 600;">How Does This Work?</h1>

		<div style="color: #34C2D5; background: #E0FBFF; border-radius: 15px; height: auto; width: calc(100% - 60px); padding: 30px;">

			<p style="font-size: 20px; font-weight: 400; line-height: 1.5; text-align: justify; text-align-last: left;">
				You the user pick what you property you want to check, This site automatically sends a request to your corresponding property owner. Then they will contact you through there means. We at 
				<a href="/greenperch/">Green Perch</a> enables you to connect with property owners and find your new nest to settle down.
			</p>

		</div>
	</div>

</body>

</html>