<!DOCTYPE html>
<html>

<head>
	<style>
		table th {
			background: #ECECEC;
		}
		table th, table td {
			padding: 15px;
		}
		table tr {
			text-align: center;
			background: #FFFFFF;
			transition: 0.3s;
		}
		table tr:hover{
			background: #F7F7F7;
			transition: 0.3s;
		}
	</style>
</head>

<body>

	<div class="flex" style="height: auto; width: 100%; gap: 50px;">

		<div class="flex flexCol" style="height: auto; width: calc(100% - 60px); background: var(--white); padding: 30px; border: 1px solid #B0B0B0; border-radius: 10px; gap: 30px;">
			<h1 style="font-size: 20px; font-weight: 500;">Registered Students</h1>

			<div class="flex" style="height: auto; width: 100%;">

				<table style="width: 100%;">
					<tr>
						<th>User ID</th>
						<th>Name</th>
						<th>Email</th>
						<th>Phone</th>
						<th>Action</th>
					</tr>

					<?php
					include './config/dbconnection.php';

					$sql = "SELECT * FROM users WHERE role = 'Student' ORDER BY id ASC";
					$result = $conn->query($sql);

					if ($result->num_rows > 0) {
						// output data of each row
						while($row = $result->fetch_assoc()) {
							echo '<tr>
								<td>'.$row['id'].'</td>
								<td>'.$row['name'].'</td>
								<td>'.$row['email'].'</td>
								<td>'.$row['phone'].'</td>
								<td>
									<span class="flex flexRow" style="width: 100%; gap: 10px; align-items: center; justify-content: center;">
										<button>View</button>
										<button class="rejectBtn">Delete</button>
									</span>
								</td>
							</tr>';
						}
					} else {
						echo "0 results";
					}

					$conn->close();
					?>

				</table>

			</div>
		</div>

	</div>

</body>

</html>