<!DOCTYPE html>
<html>

<head></head>

<body>

	<div class="flex flexCol" style="height: auto; width: 100%; padding-top: 50px; gap: 35px;">
		<h1 style="color: var(--accent2); font-weight: 600; width: 100%;">Room for rent in Pitipana</h1>

		<div class="flex flexRow" style="width: 100%; justify-content: space-between;">
			<div class="flex flexCol" style="height: auto; width: 70%; gap: 50px;">

				<div class="flex flexRow" style="height: 600px; width: 100%; gap: 10px;">
					<div style="height: 100%; width: 80%; background: #B0B0B0; border-radius: 5px;">
						<img src="/greenperch/assets/images/temp.png" style="height: 100%; width: 100%; object-fit: cover; object-position: center; border-radius: 5px;">
					</div>

					<div class="flex flexCol" style="height: 100%; width: 20%; gap: 10px;">
						<div style="height: 25%; background: #B0B0B0; border-radius: 5px;">
							<img src="/greenperch/assets/images/temp.png" style="height: 100%; width: 100%; object-fit: cover; object-position: center; border-radius: 5px;">
						</div>

						<div style="height: 25%; background: #B0B0B0; border-radius: 5px;">
							<img src="/greenperch/assets/images/temp.png" style="height: 100%; width: 100%; object-fit: cover; object-position: center; border-radius: 5px;">
						</div>

						<div style="height: 25%; background: #B0B0B0; border-radius: 5px;">
							<img src="/greenperch/assets/images/temp.png" style="height: 100%; width: 100%; object-fit: cover; object-position: center; border-radius: 5px;">
						</div>
					</div>
				</div>

				<div class="flex flexCol" style="height: auto; width: calc(100% - 60px); background: var(--white); padding: 30px; border: 1px solid #B0B0B0; border-radius: 10px; gap: 30px;">
					<h1 style="font-size: 20px; font-weight: 500;">Details</h1>

					<div class="flex flexRow" style="width: 100%;">
						<div class="flex flexCol" style="width: 50%; gap: 20px;">
							<span class="flex flexRow" style="gap: 10px;">
								<p style="color: #808080; font-weight: 500;">Property Type:</p>
								<p>Room</p>
							</span>

							<span class="flex flexRow" style="gap: 10px;">
								<p style="color: #808080; font-weight: 500;">Bedrooms:</p>
								<p>Bedrooms</p>
							</span>

							<span class="flex flexRow" style="gap: 10px;">
								<p style="color: #808080; font-weight: 500;">Beds:</p>
								<p>Beds</p>
							</span>

							<span class="flex flexRow" style="gap: 10px;">
								<p style="color: #808080; font-weight: 500;">Category:</p>
								<p>Boys</p>
							</span>
						</div>

						<div class="flex flexCol" style="width: 50%; gap: 20px;">
							<span class="flex flexRow" style="gap: 10px;">
								<p style="color: #808080; font-weight: 500;">Price:</p>
								<p>LKR 15,000 Per month</p>
							</span>

							<span class="flex flexRow" style="gap: 10px;">
								<p style="color: #808080; font-weight: 500;">Bathrooms:</p>
								<p>1</p>
							</span>

							<span class="flex flexRow" style="gap: 10px;">
								<p style="color: #808080; font-weight: 500;">Availability:</p>
								<p>Available</p>
							</span>
						</div>
					</div>
				</div>

				<div class="flex flexCol" style="height: auto; width: calc(100% - 60px); background: var(--white); padding: 30px; border: 1px solid #B0B0B0; border-radius: 10px; gap: 20px;">
					<h1 style="font-size: 20px; font-weight: 500;">Description</h1>

					<div class="flex flexRow" style="width: 100%;">
						<p style="color: #808080; font-weight: 400; line-height: 1.5; text-align: justify; text-align-last: left;">Lorem ipsum dolor sit amet ultricies lacinia curabitur nulla. Scelerisque consequat pretium vel porta litora. Ante primis tempus pharetra vivamus facilisis auctor sit lorem. Vulputate ullamcorper sem ut magna rhoncus. Magnis efficitur odio tempor sociosqu eu habitant sem maecenas nostra tincidunt nulla. Aenean per dolor sem est posuere ex condimentum imperdiet.</p>
					</div>
				</div>
			</div>

			<div class="flex flexCol" style="height: auto; width: 25%; gap: 50px;">

				<div class="flex flexCol" style="height: auto; width: calc(100% - 60px); background: var(--white); padding: 30px; border: 1px solid #B0B0B0; border-radius: 10px; gap: 20px;">
					<div class="flex flexRow" style="padding: 10px; align-items: center; gap: 20px;">
						<div style="height: 50px; width: 50px;">
							<img src="/greenperch/assets/images/temp.png" style="height: 100%; width: 100%; object-fit: cover; object-position: center; border-radius: 45px;">
						</div>

						<div class="flex flexCol" style="gap: 5px;">
							<p style="color: #808080; font-size: 16px; font-weight: 500;">Advertised By</p>
							<p style="color: var(--accent); font-size: 18px; font-weight: 600;">John Doe</p>
						</div>
					</div>

					<hr>

					<div class="flex flexCol" style="height: auto; width: 100%; gap: 10px;">
						<div class="flex flexRow" style="font-size: 14px; justify-content: space-between;">
							<span class="flex flexRow" style="align-items: center; gap: 10px;">
								<i class="fa-solid fa-location-dot" style="width: 15px; color: #B0B0B0; font-size: 12px;"></i>
								<p style="color: #808080; font-weight: 500;">Location</p>
							</span>

							Pitipana
						</div>

						<div class="flex flexRow" style="font-size: 14px; justify-content: space-between;">
							<span class="flex flexRow" style="align-items: center; gap: 10px;">
								<i class="fa-solid fa-user-plus" style="width: 15px; color: #B0B0B0; font-size: 12px;"></i>
								<p style="color: #808080; font-weight: 500;">Joined</p>
							</span>

							2 Hours Ago
						</div>
					</div>

					<button>Make a request</button>
				</div>

				<div class="flex flexCol" style="height: auto; width: calc(100% - 60px); background: var(--white); padding: 30px; border: 1px solid #B0B0B0; border-radius: 10px; gap: 20px;">
					<h1 style="color: #242424; font-size: 16px; font-weight: 500;">Tips for Buyers</h1>

					<hr>

					<div class="flex flexCol" style="height: auto; width: 100%; gap: 10px;">
						<div class="flex flexRow" style="font-size: 14px; align-items: center; gap: 10px; justify-content: flex-start;">
							<i class="fa-solid fa-check" style="width: 15px; color: #B0B0B0; font-size: 12px;"></i>
							<p style="color: #808080; font-weight: 500;">Meet seller at a public place</p>
						</div>

						<div class="flex flexRow" style="font-size: 14px; align-items: center; gap: 10px; justify-content: flex-start;">
							<i class="fa-solid fa-check" style="width: 15px; color: #B0B0B0; font-size: 12px;"></i>
							<p style="color: #808080; font-weight: 500;">Check the property before you buy</p>
						</div>

						<div class="flex flexRow" style="font-size: 14px; align-items: center; gap: 10px; justify-content: flex-start;">
							<i class="fa-solid fa-check" style="width: 15px; color: #B0B0B0; font-size: 12px;"></i>
							<p style="color: #808080; font-weight: 500;">Pay only after confirmation</p>
						</div>

						<div class="flex flexRow" style="font-size: 14px; align-items: center; gap: 10px; justify-content: flex-start;">
							<i class="fa-solid fa-check" style="width: 15px; color: #B0B0B0; font-size: 12px;"></i>
							<p style="color: #808080; font-weight: 500;">Don't make a request for fun</p>
						</div>
					</div>
				</div>

				<div class="flex" style="height: 300px; width: 100%; background: linear-gradient(#ecececa0, #ecececa0), url('/greenperch/assets/images/map.jpg'); background-size: cover; background-position: center; border: 1px solid #B0B0B0; border-radius: 10px; align-items: center; justify-content: center;">
					<a class="anchorBtn" href="/greenperch/mapview.php">Show on map</a>
				</div>

			</div>
		</div>

	</div>

</body>

</html>