<?php
include './config/dbconnection.php';

$paramid = $_GET['id'];

$sql = "SELECT * FROM properties WHERE id = $paramid";
$result = $conn->query($sql);

$ownersql = "SELECT properties.*, users.name, users.email FROM properties JOIN users ON properties.owner = users.email WHERE properties.status = 'Approved' ORDER BY properties.id ASC";
$ownerresult = $conn->query($ownersql);

if ($ownerresult->num_rows > 0) {
	// output data of each row
	$owner = $ownerresult->fetch_assoc();
} else {
	echo "No results found";
}

if ($result->num_rows > 0) {
	// output data of each row
	$property = $result->fetch_assoc();
} else {
	echo "No results found";
}
?>

<!DOCTYPE html>
<html>

<head></head>

<body>

	<div class="flex flexCol" style="height: auto; width: 100%; padding-top: 50px; gap: 35px;">
		<h1 style="color: var(--accent2); font-weight: 600; width: 100%;"><?php echo $property['name']; ?></h1>

		<div class="flex flexRow" style="width: 100%; justify-content: space-between;">
			<div class="flex flexCol" style="height: auto; width: 70%; gap: 50px;">

				<div class="flex flexRow" style="height: 600px; width: 100%; gap: 10px;">
					<div style="height: 100%; width: 80%; background: #B0B0B0; border-radius: 5px;">
						<img src="<?php echo $property['image1']; ?>" style="height: 100%; width: 100%; object-fit: cover; object-position: center; border-radius: 5px;">
					</div>

					<div class="flex flexCol" style="height: 100%; width: 20%; gap: 10px;">
						<div style="height: 25%; background: #B0B0B0; border-radius: 5px;">
							<img src="<?php echo $property['image2']; ?>" style="height: 100%; width: 100%; object-fit: cover; object-position: center; border-radius: 5px;">
						</div>

						<div style="height: 25%; background: #B0B0B0; border-radius: 5px;">
							<img src="<?php echo $property['image3']; ?>" style="height: 100%; width: 100%; object-fit: cover; object-position: center; border-radius: 5px;">
						</div>

						<div style="height: 25%; background: #B0B0B0; border-radius: 5px;">
							<img src="<?php echo $property['image4']; ?>" style="height: 100%; width: 100%; object-fit: cover; object-position: center; border-radius: 5px;">
						</div>
					</div>
				</div>

				<div class="flex flexCol" style="height: auto; width: calc(100% - 60px); background: var(--white); padding: 30px; border: 1px solid #B0B0B0; border-radius: 10px; gap: 30px;">
					<h1 style="font-size: 20px; font-weight: 500;">Details</h1>

					<div class="flex flexRow" style="width: 100%;">
						<div class="flex flexCol" style="width: 50%; gap: 20px;">
							<span class="flex flexRow" style="gap: 10px;">
								<p style="color: #808080; font-weight: 500;">Property Type:</p>
								<p><?php echo $property['type']; ?></p>
							</span>

							<span class="flex flexRow" style="gap: 10px;">
								<p style="color: #808080; font-weight: 500;">Bedrooms:</p>
								<p><?php echo $property['bedrooms']; ?></p>
							</span>

							<span class="flex flexRow" style="gap: 10px;">
								<p style="color: #808080; font-weight: 500;">Beds:</p>
								<p><?php echo $property['beds']; ?></p>
							</span>

							<span class="flex flexRow" style="gap: 10px;">
								<p style="color: #808080; font-weight: 500;">Category:</p>
								<p><?php echo $property['category']; ?></p>
							</span>
						</div>

						<div class="flex flexCol" style="width: 50%; gap: 20px;">
							<span class="flex flexRow" style="gap: 10px;">
								<p style="color: #808080; font-weight: 500;">Price (Per/m):</p>
								<p><?php echo $property['price']; ?> LKR</p>
							</span>

							<span class="flex flexRow" style="gap: 10px;">
								<p style="color: #808080; font-weight: 500;">Bathrooms:</p>
								<p><?php echo $property['bathrooms']; ?></p>
							</span>

							<span class="flex flexRow" style="gap: 10px;">
								<p style="color: #808080; font-weight: 500;">Availability:</p>
								<p><?php echo $property['availability']; ?></p>
							</span>
						</div>
					</div>
				</div>

				<div class="flex flexCol" style="height: auto; width: calc(100% - 60px); background: var(--white); padding: 30px; border: 1px solid #B0B0B0; border-radius: 10px; gap: 20px;">
					<h1 style="font-size: 20px; font-weight: 500;">Description</h1>

					<div class="flex flexRow" style="width: 100%;">
						<p style="color: #808080; font-weight: 400; line-height: 1.5; text-align: justify; text-align-last: left;"><?php echo $property['description']; ?></p>
					</div>
				</div>
			</div>

			<div class="flex flexCol" style="height: auto; width: 25%; gap: 50px;">

				<div class="flex flexCol" style="height: auto; width: calc(100% - 60px); background: var(--white); padding: 30px; border: 1px solid #B0B0B0; border-radius: 10px; gap: 20px;">
					<div class="flex flexRow" style="padding: 10px; align-items: center; gap: 20px;">
						<div style="height: 50px; width: 50px;">
							<img src="/greenperch/assets/images/temp.png" style="height: 100%; width: 100%; object-fit: cover; object-position: center; border-radius: 45px;">
						</div>

						<div class="flex flexCol" style="gap: 5px;">
							<p style="color: #808080; font-size: 16px; font-weight: 500;">Advertised By</p>
							<p style="color: var(--accent); font-size: 18px; font-weight: 600;"><?php echo $owner['name']; ?></p>
						</div>
					</div>

					<hr>

					<div class="flex flexCol" style="height: auto; width: 100%; gap: 10px;">
						<div class="flex flexRow" style="font-size: 14px; justify-content: space-between;">
							<span class="flex flexRow" style="align-items: center; gap: 10px;">
								<i class="fa-solid fa-hashtag" style="width: 15px; color: #B0B0B0; font-size: 12px;"></i>
								<p style="color: #808080; font-weight: 500;">Property ID</p>
							</span>

							<?php echo $property['id']; ?>
						</div>

						<div class="flex flexRow" style="font-size: 14px; justify-content: space-between;">
							<span class="flex flexRow" style="align-items: center; gap: 10px;">
								<i class="fa-solid fa-money-check-dollar" style="width: 15px; color: #B0B0B0; font-size: 12px;"></i>
								<p style="color: #808080; font-weight: 500;">Price (Per/m)</p>
							</span>

							<?php echo $property['price']; ?> LKR
						</div>
					</div>

					<form style="width: 100%;" action="/greenperch/api/srequest.php" method="POST">
					<?php if(isset($_COOKIE['userid']) && $_COOKIE['role'] === 'Student') { ?>
						<input type="hidden" name="propertyid" value="<?php echo $property['id']; ?>">
						<input type="hidden" name="owner" value="<?php echo $owner['email']; ?>">
						<input type="hidden" name="userid" value="<?php echo $_COOKIE['userid']; ?>">
						<button type="submit" style="width: 100%;" onclick="sendRequest()">Make a Request</button>
					<?php } else { ?>
						<button disabled type="submit" class="flex flexRow" style="width: 100%; background: #808080; align-items: center; justify-content: center; gap: 10px;" title="Login as a Student to Send a Request">
							<i class="fa-solid fa-lock"></i> Make a Request
						</button>
					<?php } ?>
					</form>
				</div>

				<div class="flex flexCol" style="height: auto; width: calc(100% - 60px); background: var(--white); padding: 30px; border: 1px solid #B0B0B0; border-radius: 10px; gap: 20px;">
					<h1 style="color: #242424; font-size: 16px; font-weight: 500;">Tips for Buyers</h1>

					<hr>

					<div class="flex flexCol" style="height: auto; width: 100%; gap: 10px;">
						<div class="flex flexRow" style="font-size: 14px; align-items: center; gap: 10px; justify-content: flex-start;">
							<i class="fa-solid fa-check" style="width: 15px; color: #B0B0B0; font-size: 12px;"></i>
							<p style="color: #808080; font-weight: 500;">Meet seller at a public place</p>
						</div>

						<div class="flex flexRow" style="font-size: 14px; align-items: center; gap: 10px; justify-content: flex-start;">
							<i class="fa-solid fa-check" style="width: 15px; color: #B0B0B0; font-size: 12px;"></i>
							<p style="color: #808080; font-weight: 500;">Check the property before you buy</p>
						</div>

						<div class="flex flexRow" style="font-size: 14px; align-items: center; gap: 10px; justify-content: flex-start;">
							<i class="fa-solid fa-check" style="width: 15px; color: #B0B0B0; font-size: 12px;"></i>
							<p style="color: #808080; font-weight: 500;">Pay only after confirmation</p>
						</div>

						<div class="flex flexRow" style="font-size: 14px; align-items: center; gap: 10px; justify-content: flex-start;">
							<i class="fa-solid fa-check" style="width: 15px; color: #B0B0B0; font-size: 12px;"></i>
							<p style="color: #808080; font-weight: 500;">Don't make a request for fun</p>
						</div>
					</div>
				</div>

				<div class="flex" style="height: 300px; width: 100%; background: linear-gradient(#ecececa0, #ecececa0), url('/greenperch/assets/images/map.jpg'); background-size: cover; background-position: center; border: 1px solid #B0B0B0; border-radius: 10px; align-items: center; justify-content: center;">
					<a class="anchorBtn" href="/greenperch/mapview.php">Show Map</a>
				</div>

			</div>
		</div>

	</div>

</body>

</html>