<!DOCTYPE html>
<html>

<head></head>

<body>

	<header class="flex">
		<div class="flex flexCol" style="height: 80%; width: 95%; color: #ECECEC; background: linear-gradient(#24242490, #24242490), url('/greenperch/assets/images/header.webp'); background-size: cover; background-position: center; align-items: center; justify-content: center; border-radius: 15px; gap: 10px;">

			<h1 style="font-size: 65px; font-weight: 700;">Map View</h1>
			<h2 style="font-weight: 400;">Browse through the available properties with the map</h2>

		</div>
	</header>

</body>

</html>