<!DOCTYPE html>
<html>

<head></head>

<body>

	<footer class="flex flexCol" style="height: auto; padding-bottom: 40px; align-items: center; justify-content: center;">
		<span class="flex flexRow" style="height: auto; width: 90%; padding: 40px 0; align-items: start; justify-content: space-between;">
			<div class="flex flexCol" style="width: 30%; gap: 15px;">
				<span style="height: 80px; width: auto;">
					<img src="/greenperch/assets/images/logo.png" alt="Green Perch" style="height: 100%; width: auto; object-fit: cover; object-position: center;">
				</span>

				<p style="font-size: 14px; color: #242424; line-height: 1.5; width: 100%;">Your next nest finder</p>
			</div>

			<div class="flex flexCol" style="width: 70%; gap: 30px;">
				<h1>Quick Links</h1>

				<span class="flex flexRow footerLinks" style="width: 100%;">
					<span class="flex flexCol" style="width: 30%;">
						<a href="/greenperch">Home</a>
						<a href="/greenperch/properties.php">Properties</a>
						<a href="/greenperch/">Blogs</a>
					</span>

					<span class="flex flexCol" style="width: 30%;">
						<a href="/greenperch/">Register</a>
						<a href="/greenperch/">Login</a>
						<a href="/greenperch/">About</a>
					</span>

					<span class="flex flexCol" style="width: 30%;">
						<a href="https://github.com/TheGreenPerch/greenperch" target="_blank">
							GitHub <i class="fa-solid fa-arrow-up" style="transform: rotate(45deg);"></i>
						</a>
						<a href="https://www.nsbm.ac.lk" target="_blank">
							NSBM <i class="fa-solid fa-arrow-up" style="transform: rotate(45deg);"></i>
						</a>
					</span>
				</span>
			</div>
		</span>

		<div class="flex flexRow" style="height: auto; width: 90%; padding: 20px 0; align-items: center; justify-content: space-between;">
			<span class="flex flexCol" style="height: auto; width: 30%; align-items: start; gap: 10px;">
				<h1>Email Us</h1>
				<a href="mailto:hellogp@mail.com" style="color: var(--accent2); font-size: 18px;">hellogp@mail.com</a>
			</span>

			<span class="flex flexCol" style="height: auto; width: 70%; align-items: start; gap: 10px;">
				<h1>Call Us</h1>
				<a href="tel:+94xxxxxxxx" style="color: var(--accent2); font-size: 18px;">+94 xx xx xxxx</a>
			</span>
		</div>
	</footer>

	<div style="color: var(--white); background: #38B64A; text-align: center; text-transform: uppercase; padding: 15px;">
		© 2024 The Green Perch - All Rights Reserved &nbsp;|&nbsp; Crafted with <i class="fa-solid fa-heart"></i>
	</div>

</body>

</html>