<!DOCTYPE html>
<html>

<head></head>

<body>

	<div class="flex navbar">
		<span class="flex flexRow" style="width: 95%; align-items: center; justify-content: space-between;">
			<div class="navbarLogo">
				<a href="/greenperch">
					<img src="/greenperch/assets/images/logo.png" alt="Green Perch Logo" style="height: 40px; width: auto;">
				</a>
			</div>

			<div class="flex flexRow navbarLinks">
				<a href="/greenperch/available.php">Available Properties</a>
				<a href="/greenperch/blogs.php">Blogs</a>
				<a href="/greenperch/about.php">About</a>

				<?php
				if (isset($_SESSION['user'])) {
					echo '<a href="/greenperch/logout.php">Logout</a>';
				} else {
					echo '<a href="/greenperch/login.php">Login</a>';
				}
				?>
			</div>
		</span>
	</div>

</body>

</html>