<!DOCTYPE html>
<html>

<head></head>

<body>

	<div class="flex" style="height: auto; width: 100%; gap: 50px;">

		<div class="flex flexCol" style="height: auto; width: calc(100% - 60px); background: var(--white); padding: 30px; border: 1px solid #B0B0B0; border-radius: 10px; gap: 30px;">
			<h1 style="font-size: 20px; font-weight: 500;">Property Requests</h1>

			<div class="flex" style="height: 320px; width: 100%; overflow: auto;">
				<div class="flex flexCol" style="height: auto; width: 100%; align-items: center; gap: 10px;">

					<?php
					include './config/dbconnection.php';

					$sql = "SELECT properties.*, users.name, users.email FROM properties JOIN users ON properties.owner = users.email WHERE properties.status = 'Pending' ORDER BY properties.id ASC";
					$result = $conn->query($sql);

					if ($result->num_rows > 0) {
						// output data of each row
						while($row = $result->fetch_assoc()) {
							echo '<div class="flex flexRow card" style="height: 50px; width: calc(100% - 55px); background: #F9F9F9; padding: 25px; border: 1.5px solid #B0B0B0; border-radius: 15px; align-items: center; justify-content: space-between;">
								<div class="flex flexCol" style="gap: 10px;">
									<h2 style="font-size: 16px; font-weight: 500;">'.$row['name'].' - ('.$row['email'].')</h2>
									<a href="/greenperch/property.php?id='.$row['id'].'" style="width: fit-content; color: var(--accent); font-size: 14px; font-weight: 400;">View Property</a>
								</div>

								<div class="flex flexRow" style="gap: 10px;">
									<button class="approveBtn">Accept</button>
									<button class="rejectBtn">Reject</button>
								</div>
							</div>';
						}
					} else {
						echo "0 results";
					}

					$conn->close();
					?>

				</div>
			</div>
		</div>

	</div>

</body>

</html>